* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(62, 60, 60);
  color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  color: black;

  .list {
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-bottom: 1px solid black;
    padding: 10px 15px;
    border-radius: 40px;
    margin: 5px;
    display: flex;
    justify-content: space-between;

    &__trash {
      color: red;
      font-size: 1.5em;
      border: none;
      background: none;
      cursor: pointer;
    }

    &__check {
      color: green;
      font-size: 1.5em;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}

.header {
  display: block;
  text-align: center;
  margin-bottom: 100px;
  font-size: 40px;
  background-color: rgba(128, 128, 128, 0.403);
  box-shadow: 2px 2px 10px black;
  height: 250px;

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
  }

  #todoInput {
    width: 40%;
    height: 30px;
    border-radius: 40px;
    border: none;
  }

  #todoButton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
